<html>
    <body>
         <div>Messages list</div>
         {{#messages}}
             <div>
                 <b>{{id}}</b>
                 <span>{{text}}</span>
                 <i>{{tag}}</i>
             </div>
         {{/messages}}
    </body>
</html>